<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= blog.title %></title>
  <link rel="stylesheet" href="/styles/main.css"/>
</head>
<body>
  <div class="blogContainer">
    <h1 class="blogTitle common"><%= blog.title %></h1>
    <p class="blogContent common"><%= blog.content %></p>
    <a style="font-size: 1.2rem;" href="/">Back to Home</a>
  </div>
</body>
</html>
